{% extends "base.html" %}

{% block title %}
Watchlist
{% endblock %}

{% block content %}

<div class="container mt-4">

    <h2 class="mb-4">⭐ My Watchlist</h2>

    <table class="table table-bordered table-hover">

        <thead class="table-dark">
            <tr>
                <th>Symbol</th>
                <th>Company</th>
                <th>Live Price</th>
                <th>Action</th>
            </tr>
        </thead>

        <tbody>

            {% for stock in watchlist %}

            <tr>

                <td>
                    <strong>{{ stock.symbol }}</strong>
                </td>

                <td>
                    {{ stock.company }}
                </td>

                <td>
                    ₹ {{ stock.price }}
                </td>

                <td>

                    <a
                        href="{% url 'remove_watchlist' stock.symbol %}"
                        class="btn btn-sm btn-danger"
                        onclick="return confirm('Remove {{ stock.symbol }} from Watchlist?');"
                    >
                        ❌ Remove
                    </a>

                </td>

            </tr>

            {% empty %}

            <tr>
                <td colspan="4" class="text-center">
                    No Stocks Added Yet
                </td>
            </tr>

            {% endfor %}

        </tbody>

    </table>

</div>

{% endblock %}